<!-- address -->
    <div class='container mt-5'>
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">우편번호</th>
              <th scope="col">기본 주소</th>
              <th scope="col">상세 주소</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          <% for(let address of add_info){ %>
            <tr>
              <th scope="row" style='vertical-align: middle'><%= address.postal_code %></th>
              <td style='vertical-align: middle'><%= address.default_address %></td>
              <td style='vertical-align: middle'><%= address.optional_address %></td>
              <td>
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                  <button type="button" class="btn btn-outline-primary" onclick="location.href='/mypage/updateAdd/<%= address.address_number %>'">Update</button>
                  <form action='/mypage/deleteAdd/<%= address.address_number %>?_method=DELETE' method='post'>
                    <button type="submit" class="btn btn-outline-primary">Delete</button>
                  </form>
              </div>
              </td>
            </tr>
          <% } %>
          </tbody>
      </table>
      <button type="button" class="btn btn-primary" onclick="location.href='/mypage/addAdd'">Add</button>
    </div>

    <!-- card -->
    <div class='container mt-5'>
      <table class="table">
          <thead>
            <tr>
              <th scope="col" style='width: 33%'>신용카드 번호</th>
              <th scope="col" style='width: 33%'>신용카드 종류</th>
              <th scope="col" style='width: 20%'>신용카드 유효기간</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          <% for(let card of card_info){ %>
            <tr>
              <th scope="row" style='vertical-align: middle'><%= card.card_number %></th>
              <td style='vertical-align: middle'><%= card.card_type %></td>
              <td style='vertical-align: middle'><%= card.expiry_date %></td>
              <td>
                  <div class="btn-group" role="group" aria-label="Basic outlined example">
                      <button type="button" class="btn btn-outline-primary" onclick="location.href='/mypage/updateCard/<%= card.card_number %>'">수정</button>
                      <form action='/mypage/deleteCard/<%= card.card_number %>?_method=DELETE' method='post'>
                        <button type="submit" class="btn btn-outline-primary">삭제</button>
                      </form>
                  </div>
              </td>
            </tr>
          <% } %>
          </tbody>
        </table>
      <button type="button" class="btn btn-primary" onclick="location.href='/mypage/addCard'">추가</button>
    </div>



